<div class="text-center">
<h1>Type in your question</h1>
</div>
<%# <form action="http://[::1]:3000/answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form> %>
<div class="container-fluid">
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ask your fabulous coach for advise!">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" formaction="http://[::1]:3000/answer">Ask!</button>
    </div>
  </div>
</div>
